fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

python-dotenv
python-multipart

passlib[bcrypt]
bcrypt
python-jose[cryptography]

pydantic
email-validator

requests
pandas
numpy

ollama

sentence-transformers
transformers
torch

qdrant-client

easyocr
pillow
opencv-python

python-docx
pymupdf
redis